In [1]:
#  1. Data creation
import sqlite3

with sqlite3.connect('library.db') as con:
    cursor = con.cursor()
    query = """
        Create table Library(
            Title text,
            Author text,
            Year_Published int,
            Genre text
        )
    """ 
    cursor.execute(query)

In [ ]:
# 2_task Insert data
books = (
    ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
    ('1984','George Orwell', 1949, 'Dystopian'),
    ('The Great Gatsby','F. Scott Fitzgerald', 1925, 'Classic')
)
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    place_holder = ", ".join(["?"] * 4)
    cursor.executemany("Insert into Library Values({place_holder})", books)

In [ ]:
# 3. Update
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    cursor.execute("""
        UPDATE Library
        SET Year_Published = 1950
        WHERE Title = 1984
    """)

In [ ]:
# 4. Query Data
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    data = cursor.execute("SELECT Title, Author  FROM Library WHERE Genre = 'Dystopian'")
    data.fetchall()
print(data)

In [ ]:
# 5. Delete data
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    cursor.execute("DELETE FROM Library WHERE Year_Published < 1950")

In [ ]:
# 6. Bonus Task
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    cursor.execute("ALTER TABLE Library ADD COLUMN Rating Real")
    
ratings = [
    (4.8, 'To Kill a Mockingbird'),
    (4.7, '1984'),
    (4.5, 'The Great Gatsby')
]

with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    cursor.executemany("UPDATE Library SET Rating = ? WHERE Title = ?", ratings)

In [ ]:
# 7. Advanced Query
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    cursor.execute("Select * From Library order by Year_Published asc")