In [20]:
#  1. Data creation
import sqlite3

with sqlite3.connect('roster.db') as con:
    cursor = con.cursor()
    query = """
        Create table Rosters(
            Name text,
            Species text,
            Age int
        )
    """ 
    cursor.execute(query)

In [21]:
# 2_task Insert data
population = (
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys',	'Bajoran',	29)
)
with sqlite3.connect("roster.db") as con:
    cursor = con.cursor()
    place_holder = ", ".join(["?"] * 3)
    cursor.executemany("Insert into Rosters Values({place_holder})", population)

In [ ]:
# 3. Update
with sqlite3.connect('roster.db') as con:
    cursor = con.cursor()
    cursor.execute("""
        UPDATE Rosters
        SET Name = Ezri Dax
        WHERE Name = Jadzia Dax
    """)

In [ ]:
# 4. Query Data
with sqlite3.connect('roster.db') as con:
    cursor = con.cursor()
    data = cursor.execute("SELECT Name, Age FROM Rosters WHERE Species = 'Bajoran'")
    data.fetchall()
print(data)

In [22]:
# 5. Delete data
with sqlite3.connect('roster.db') as con:
    cursor = con.cursor()
    cursor.execute("DELETE FROM Rosters WHERE Age > 100")

In [ ]:
# 6. Bonus Task
with sqlite3.connect("roster.db") as con:
    cursor = con.cursor()
    cursor.execute("ALTER TABLE Rosters ADD COLUMN Rank text")

rank = [
    ('Captain', 'Benjamin Sisko'),
    ('Lieutenant', 'Ezri Dax'),
    ('Major', 'Kira Nerys')
]

with sqlite3.connect("roster.db") as con:
    cursor = con.cursor()
    cursor.executemany("UPDATE Rosters SET Rank = ? WHERE Name = ?", rank)

In [ ]:
# 7. Advanced Query
with sqlite3.connect("roster.db") as con:
    cursor = con.cursor()
    cursor.execute("Select * From Rosters order by Age desc")